{% extends 'main.html' %}
{% block title %}Мои команды{% endblock %}
{% import 'macros/dev.html' as dev_tools %}
{% block body %}
    <div class="page-header page-header-small" style="background-image: url('{{  url_for('static', filename='img/background/login/29.png') }}');">
    {% include 'includes/flash.html' %}
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <h1>Мои команды</h1>
          {% if teams.__len__() <= 5 %}
          <a class="btn btn-default btn-round" style="background-color: #66615b96;" href="{{ url_for('developers.create_team') }}">Создать команду</a>
          {% endif %}
          <br>
        <h3></h3>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section section-gray">
      <div class="container">
          <div class="row">
            <h4 class="title"><strong>Мои команды</strong><br></h4>
            <div class="table-responsive">
            <ul class="list-unstyled follows">
            <table class="table">
                <thead>
                  <tr>
                    <th>Название</th>
                    <th>Дата создания</th>
                    <th>Действие</th>
                  </tr>
                </thead>
                <tbody>
                {% for team in teams %}
                  <tr>
                    <td><h5>{{ dev_tools.team_title(team.team) }}</h5></td>
                    <td>{{ team.team.create_date }}</td>
                    <td><a class="btn btn-outline-info" href="{{ url_for('developers.open_team', team_uuid=team.team.uuid) }}">Открыть</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </ul>
            </div>
          </div>
      </div>
      </div>
    </div>
{% endblock %}